$body_bg: #2b2b3d;
$text_color: #fafafa;
$nav_color: #3b3843;
$footer_color: #3b3843;
$link_color: #d9946c;

body {
  color: $text_color;
  background: $body_bg;

  a {
    color: $link_color;
  }

  main {
    min-height: 70vh;
  }

  nav {
    background-color: $nav_color;
  }

  footer,
  .page-footer
  {
    background-color: $footer_color;
  }
}

/* material SEO optimization */
body {
  .material-icons::before {
    content: attr(data-icon);
  }
}